

body{
    background-color: rgb(255, 255, 255);
}


.locations{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}

.locations-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    margin-top: 20px;
}


.map-container {
    padding:20px;
    margin-bottom:40px;
    width: 80vw;
    height: 60vh;
}


.location-title {
    font-size: 20px;
    padding:10px;
    background-color: transparent;
    color: black;
}

.location-card {
    z-index: 2;
    position: absolute;
    background-color: rgb(226, 240, 255);
    margin-left: 5rem;
    margin-top: 5rem;
    width: 30%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.85;
    border: 1.5px rgb(13, 15, 129) solid;
    border-radius: 25px;
}
.location-title {
    font-size: 1.5rem;
    padding-top: 10px;
}
.location-address{
    padding-top: 20px;
    padding-left:1rem;
}
.location-hours{
    padding-top: 20px;
    padding-left:1rem;
}