/* Messenger.css */

.messenger {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 20%;
  background-color: #f1f1f1;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 10px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  cursor: pointer;
}

.sidebar li.selected {
  background-color: #e6e6e6;
}

.main {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.message {
  display: inline-block;
  max-width: 75%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
}

.sent {
  align-self: flex-end;
  background-color: #dcf8c6;
}

.received {
  align-self: flex-start;
  background-color: #f1f0f0;
}

form {
  display: flex;
  margin-top: auto;
}

input[type="text"] {
  flex-grow: 1;
  padding: 10px;
}

button[type="submit"] {
  padding: 10px;
}

/* New Chat Form */

.new-chat-form {
  display: flex;
  max-width: 100%;
  margin-bottom: 15px;
}

.new-chat-input {
  flex-grow: 1;
  margin-right: 5px; /* Spacing between input and button */
}

.new-chat-button {
  width: 40px; /* Fixed width for the button */
  background-color: #4caf50; /* A green color for the button */
  color: white; /* White text color */
  border: none; /* Remove default border */
  cursor: pointer; /* Cursor pointer to indicate it's clickable */
  text-align: center; /* Center the plus sign */
  font-size: 16px; /* Larger font size for visibility */
}

.new-chat-button:hover {
  background-color: #45a049; /* Darker green on hover for feedback */
}
